


<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <div _ngcontent-ape-c53="" _ngcontent-tys-c53=""
    class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h4 _ngcontent-ape-c53="" _ngcontent-tys-c53="" class="my-0 mr-md-3 font-weight-normal"><strong
        _ngcontent-ape-c53="" _ngcontent-tys-c53="">PokéApi</strong></h4><input _ngcontent-ape-c53=""
      _ngcontent-tys-c53="" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2"
      class="form-control bg-light border-0 small"><button _ngcontent-ape-c53="" _ngcontent-tys-c53="" type="button"
      class="btn mr-md-3 btn-primary"><i _ngcontent-ape-c53="" _ngcontent-tys-c53=""
        class="fas fa-search md-5 fa-sm">searh</i></button>
  </div>
  <h4 class="my-0 mr-md-auto font-weight-normal"><strong></strong></h4>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/dashboard">Dashboard</a>
    <a class="p-2 text-dark" routerLink="/dashboard/cambiarPassword">Cambiar Password</a>
  </nav>
  <a class="btn btn-outline-success" (click)="logOut()">LogOut</a>
</div>



<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">